body{
    background-color: aquamarine;
    color:pink;
    font: size 30px;
    font-weight: normal;
    letter-spacing: 0.4cm;
    font-style: italic;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h1{
    font-weight: lighter;
}
div.details{
    color:palevioletred}