body{
background-color: black;
color: white;}

h1 { font-family:old round;
font-size: 200;}
h2 {font-family: lores;
font-size: 48;}
h3 {font-family:bdretrocentric;
font-size: 36;}

@font-face {
    font-family: "old round";
    src: url("OldRound-30-nonselect.woff");
}
@font-face {
    font-family: "lores";
    src: url("lores12ot-bold.woff");
}
@font-face {
    font-family:bdretrocentric;
    src: url("bdretrocentric.woff");
}


}
