body{
background-color: black;
color: white;
font-family: giga;
font-size: 10;
}

h1 { font-family:old round;
font-size: 200;
color: whitesmoke;}
h2 {font-family: narly;
font-size: 48;
color: tomato;}
h3 {font-family:bdretrocentric;
font-size: 36;}
h4{font-family: blob;}
h5{font-family: giga;}

@font-face {
    font-family: "old round";
    src: url("OldRound-30-nonselect.woff");
}
@font-face {
    font-family: "narly";
    src: url("Narly\ Regular.woff");
} 
@font-face {
    font-family:bdretrocentric;
    src: url("bdretrocentric.woff");
}
@font-face {
    font-family:blob;
    src: url("BLOB-Regular.woff");
}
@font-face {
    font-family:giga;
    src: url("Giga.woff");
}

}
